@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #34274c 0%, #1e1e1e 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.quest-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  }
}

.text-fg {
  color: #ECE8ED;
}